--
-- PostgreSQL database dump
--

\restrict jidWbp2eC5EsSbAi62jVUKq1R71GaC3VcdRj2hlfaV1fxqWJA1Y1LknvLbRcntM

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.7

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA public;


--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON SCHEMA public IS 'standard public schema';


--
-- Name: add_boosts(uuid, integer); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.add_boosts(p_user_id uuid, p_count integer) RETURNS integer
    LANGUAGE plpgsql
    AS $$

DECLARE

    new_count INTEGER;

BEGIN

    INSERT INTO user_boosts (user_id, boost_count)

    VALUES (p_user_id, p_count)

    ON CONFLICT (user_id) 

    DO UPDATE SET 

        boost_count = user_boosts.boost_count + p_count,

        updated_at = NOW()

    RETURNING boost_count INTO new_count;

    

    RETURN new_count;

END;

$$;


--
-- Name: consume_boost(uuid); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.consume_boost(p_user_id uuid) RETURNS boolean
    LANGUAGE plpgsql
    AS $$

DECLARE

    current_count INTEGER;

BEGIN

    -- R├®cup├®rer le nombre actuel de boosts

    SELECT boost_count INTO current_count 

    FROM user_boosts 

    WHERE user_id = p_user_id;

    

    -- V├®rifier si l'utilisateur a des boosts

    IF current_count IS NULL OR current_count < 1 THEN

        RETURN FALSE;

    END IF;

    

    -- D├®cr├®menter

    UPDATE user_boosts 

    SET boost_count = boost_count - 1, updated_at = NOW()

    WHERE user_id = p_user_id;

    

    RETURN TRUE;

END;

$$;


--
-- Name: handle_new_user(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.handle_new_user() RETURNS trigger
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$

BEGIN

  INSERT INTO public.subscriptions (user_id, plan, status)

  VALUES (NEW.id, 'free', 'active');

  RETURN NEW;

EXCEPTION

  WHEN OTHERS THEN

    -- Log l'erreur mais ne bloque pas la cr├®ation du user

    RAISE WARNING 'Erreur cr├®ation subscription: %', SQLERRM;

    RETURN NEW;

END;

$$;


--
-- Name: update_push_tokens_updated_at(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.update_push_tokens_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    NEW.updated_at = now();

    RETURN NEW;

END;

$$;


--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$;


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: boost_purchases; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.boost_purchases (
    id uuid DEFAULT extensions.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    stripe_payment_intent_id character varying(255),
    product_type character varying(20) NOT NULL,
    boost_count integer NOT NULL,
    amount_cents integer NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: clubs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.clubs (
    id uuid DEFAULT extensions.uuid_generate_v4() NOT NULL,
    doinsport_id uuid NOT NULL,
    name character varying(255) NOT NULL,
    city character varying(100),
    address text,
    enabled boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now(),
    slug character varying(100)
);


--
-- Name: detected_slots; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.detected_slots (
    id uuid DEFAULT extensions.uuid_generate_v4() NOT NULL,
    alert_id uuid NOT NULL,
    club_id uuid NOT NULL,
    playground_id uuid NOT NULL,
    playground_name character varying(100) NOT NULL,
    date date NOT NULL,
    start_time time without time zone NOT NULL,
    duration_minutes integer,
    price_total numeric(6,2),
    indoor boolean,
    email_sent boolean DEFAULT false,
    email_sent_at timestamp with time zone,
    detected_at timestamp with time zone DEFAULT now(),
    push_sent boolean DEFAULT false,
    push_sent_at timestamp with time zone
);


--
-- Name: push_tokens; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.push_tokens (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    token character varying(255) NOT NULL,
    device_type character varying(20),
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


--
-- Name: subscriptions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.subscriptions (
    id uuid DEFAULT extensions.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    stripe_customer_id character varying(255),
    stripe_subscription_id character varying(255),
    plan character varying(20) NOT NULL,
    status character varying(20) DEFAULT 'active'::character varying,
    current_period_end timestamp with time zone,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    cancel_at_period_end boolean DEFAULT false,
    CONSTRAINT subscriptions_plan_check CHECK (((plan)::text = ANY ((ARRAY['free'::character varying, 'premium'::character varying])::text[]))),
    CONSTRAINT subscriptions_status_check CHECK (((status)::text = ANY ((ARRAY['active'::character varying, 'canceled'::character varying, 'past_due'::character varying, 'trialing'::character varying])::text[])))
);


--
-- Name: user_alerts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_alerts (
    id uuid DEFAULT extensions.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    club_id uuid NOT NULL,
    time_from time without time zone NOT NULL,
    time_to time without time zone NOT NULL,
    indoor_only boolean,
    is_active boolean DEFAULT true,
    check_interval_minutes integer DEFAULT 15 NOT NULL,
    last_checked_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    target_date date NOT NULL,
    baseline_scraped boolean DEFAULT false,
    boost_active boolean DEFAULT false,
    boost_expires_at timestamp with time zone,
    CONSTRAINT valid_time_range CHECK ((time_to > time_from))
);


--
-- Name: user_boosts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_boosts (
    user_id uuid NOT NULL,
    boost_count integer DEFAULT 0,
    updated_at timestamp with time zone DEFAULT now()
);


--
-- Name: user_dashboard; Type: VIEW; Schema: public; Owner: -
--

CREATE VIEW public.user_dashboard AS
 SELECT u.id AS user_id,
    u.email,
    COALESCE(s.plan, 'free'::character varying) AS plan,
    COALESCE(b.boost_count, 0) AS boost_count,
    count(DISTINCT a.id) FILTER (WHERE (a.is_active = true)) AS active_alerts,
    count(DISTINCT a.id) FILTER (WHERE ((a.boost_active = true) AND (a.boost_expires_at > now()))) AS boosted_alerts,
    count(DISTINCT ds.id) AS total_slots_detected
   FROM ((((auth.users u
     LEFT JOIN public.subscriptions s ON ((u.id = s.user_id)))
     LEFT JOIN public.user_boosts b ON ((u.id = b.user_id)))
     LEFT JOIN public.user_alerts a ON ((u.id = a.user_id)))
     LEFT JOIN public.detected_slots ds ON ((a.id = ds.alert_id)))
  GROUP BY u.id, u.email, s.plan, b.boost_count;


--
-- Name: boost_purchases boost_purchases_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.boost_purchases
    ADD CONSTRAINT boost_purchases_pkey PRIMARY KEY (id);


--
-- Name: clubs clubs_doinsport_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.clubs
    ADD CONSTRAINT clubs_doinsport_id_key UNIQUE (doinsport_id);


--
-- Name: clubs clubs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.clubs
    ADD CONSTRAINT clubs_pkey PRIMARY KEY (id);


--
-- Name: clubs clubs_slug_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.clubs
    ADD CONSTRAINT clubs_slug_key UNIQUE (slug);


--
-- Name: detected_slots detected_slots_alert_id_playground_id_date_start_time_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.detected_slots
    ADD CONSTRAINT detected_slots_alert_id_playground_id_date_start_time_key UNIQUE (alert_id, playground_id, date, start_time);


--
-- Name: detected_slots detected_slots_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.detected_slots
    ADD CONSTRAINT detected_slots_pkey PRIMARY KEY (id);


--
-- Name: push_tokens push_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.push_tokens
    ADD CONSTRAINT push_tokens_pkey PRIMARY KEY (id);


--
-- Name: push_tokens push_tokens_token_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.push_tokens
    ADD CONSTRAINT push_tokens_token_key UNIQUE (token);


--
-- Name: subscriptions subscriptions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_pkey PRIMARY KEY (id);


--
-- Name: subscriptions subscriptions_stripe_customer_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_stripe_customer_id_key UNIQUE (stripe_customer_id);


--
-- Name: subscriptions subscriptions_stripe_subscription_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_stripe_subscription_id_key UNIQUE (stripe_subscription_id);


--
-- Name: subscriptions subscriptions_user_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_user_id_key UNIQUE (user_id);


--
-- Name: user_alerts user_alerts_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_alerts
    ADD CONSTRAINT user_alerts_pkey PRIMARY KEY (id);


--
-- Name: user_boosts user_boosts_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_boosts
    ADD CONSTRAINT user_boosts_pkey PRIMARY KEY (user_id);


--
-- Name: idx_alerts_active; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_alerts_active ON public.user_alerts USING btree (is_active, last_checked_at) WHERE (is_active = true);


--
-- Name: idx_alerts_boost_active; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_alerts_boost_active ON public.user_alerts USING btree (boost_active, boost_expires_at) WHERE (boost_active = true);


--
-- Name: idx_alerts_club; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_alerts_club ON public.user_alerts USING btree (club_id);


--
-- Name: idx_alerts_target_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_alerts_target_date ON public.user_alerts USING btree (target_date, is_active) WHERE (is_active = true);


--
-- Name: idx_alerts_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_alerts_user ON public.user_alerts USING btree (user_id);


--
-- Name: idx_boost_purchases_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_boost_purchases_user ON public.boost_purchases USING btree (user_id);


--
-- Name: idx_clubs_doinsport; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_clubs_doinsport ON public.clubs USING btree (doinsport_id);


--
-- Name: idx_clubs_enabled; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_clubs_enabled ON public.clubs USING btree (enabled) WHERE (enabled = true);


--
-- Name: idx_clubs_slug; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_clubs_slug ON public.clubs USING btree (slug);


--
-- Name: idx_push_tokens_active; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_push_tokens_active ON public.push_tokens USING btree (is_active) WHERE (is_active = true);


--
-- Name: idx_push_tokens_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_push_tokens_user_id ON public.push_tokens USING btree (user_id);


--
-- Name: idx_slots_alert; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_slots_alert ON public.detected_slots USING btree (alert_id, detected_at DESC);


--
-- Name: idx_slots_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_slots_date ON public.detected_slots USING btree (date, start_time);


--
-- Name: idx_slots_email; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_slots_email ON public.detected_slots USING btree (email_sent) WHERE (email_sent = false);


--
-- Name: idx_subscriptions_stripe; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_subscriptions_stripe ON public.subscriptions USING btree (stripe_customer_id);


--
-- Name: idx_subscriptions_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_subscriptions_user ON public.subscriptions USING btree (user_id);


--
-- Name: idx_user_boosts_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_user_boosts_user ON public.user_boosts USING btree (user_id);


--
-- Name: push_tokens trigger_push_tokens_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trigger_push_tokens_updated_at BEFORE UPDATE ON public.push_tokens FOR EACH ROW EXECUTE FUNCTION public.update_push_tokens_updated_at();


--
-- Name: subscriptions update_subscriptions_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_subscriptions_updated_at BEFORE UPDATE ON public.subscriptions FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: user_alerts update_user_alerts_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_user_alerts_updated_at BEFORE UPDATE ON public.user_alerts FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: user_boosts update_user_boosts_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_user_boosts_updated_at BEFORE UPDATE ON public.user_boosts FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: boost_purchases boost_purchases_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.boost_purchases
    ADD CONSTRAINT boost_purchases_user_id_fkey FOREIGN KEY (user_id) REFERENCES auth.users(id) ON DELETE CASCADE;


--
-- Name: detected_slots detected_slots_alert_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.detected_slots
    ADD CONSTRAINT detected_slots_alert_id_fkey FOREIGN KEY (alert_id) REFERENCES public.user_alerts(id) ON DELETE CASCADE;


--
-- Name: detected_slots detected_slots_club_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.detected_slots
    ADD CONSTRAINT detected_slots_club_id_fkey FOREIGN KEY (club_id) REFERENCES public.clubs(id);


--
-- Name: push_tokens push_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.push_tokens
    ADD CONSTRAINT push_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES auth.users(id) ON DELETE CASCADE;


--
-- Name: subscriptions subscriptions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_user_id_fkey FOREIGN KEY (user_id) REFERENCES auth.users(id) ON DELETE CASCADE;


--
-- Name: user_alerts user_alerts_club_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_alerts
    ADD CONSTRAINT user_alerts_club_id_fkey FOREIGN KEY (club_id) REFERENCES public.clubs(id) ON DELETE CASCADE;


--
-- Name: user_alerts user_alerts_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_alerts
    ADD CONSTRAINT user_alerts_user_id_fkey FOREIGN KEY (user_id) REFERENCES auth.users(id) ON DELETE CASCADE;


--
-- Name: user_boosts user_boosts_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_boosts
    ADD CONSTRAINT user_boosts_user_id_fkey FOREIGN KEY (user_id) REFERENCES auth.users(id);


--
-- Name: user_alerts alerts_user_policy; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY alerts_user_policy ON public.user_alerts USING ((auth.uid() = user_id));


--
-- Name: clubs; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.clubs ENABLE ROW LEVEL SECURITY;

--
-- Name: clubs clubs_public_read; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY clubs_public_read ON public.clubs FOR SELECT USING (true);


--
-- Name: detected_slots; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.detected_slots ENABLE ROW LEVEL SECURITY;

--
-- Name: detected_slots slots_user_policy; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY slots_user_policy ON public.detected_slots FOR SELECT USING ((EXISTS ( SELECT 1
   FROM public.user_alerts
  WHERE ((user_alerts.id = detected_slots.alert_id) AND (user_alerts.user_id = auth.uid())))));


--
-- Name: subscriptions; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.subscriptions ENABLE ROW LEVEL SECURITY;

--
-- Name: subscriptions subscriptions_user_policy; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY subscriptions_user_policy ON public.subscriptions USING ((auth.uid() = user_id));


--
-- Name: user_alerts; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.user_alerts ENABLE ROW LEVEL SECURITY;

--
-- Name: user_boosts; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.user_boosts ENABLE ROW LEVEL SECURITY;

--
-- Name: user_boosts user_boosts_user_policy; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY user_boosts_user_policy ON public.user_boosts USING ((auth.uid() = user_id));


--
-- PostgreSQL database dump complete
--

\unrestrict jidWbp2eC5EsSbAi62jVUKq1R71GaC3VcdRj2hlfaV1fxqWJA1Y1LknvLbRcntM

